@use 'global_scss';

$font: monospace, Helvetica;
$text_headings: White;
$text_body: white;
$font_size_head:2.2rem;
$font_size_head2:1.6rem;
$font_size_body:1.1rem; 
$c1-bg:  	#fb742d;
$c2-bg: #47464d;

@mixin h1_header{
  font-family: $font;
  font-size: $font_size_head;
  color: $text_headings;
}
@mixin h2_header{
  font-family: $font;
  font-size:$font_size_head2;
  color: $text_headings;
  font-weight:500;
}

/* General stuff */
.a_wrapper h1{
  margin: 0rem 0rem 1rem 0rem;
  @include h1_header;
}
/* Wrapper */
.a_wrapper {
  
  max-width: 1200px;
  padding: 2rem;
  margin: 1rem auto;
}

.b_header {
  text-align: center;
}

.b_content {
  outline: 5px #fb742d solid;
  margin: 2rem 0rem;
  //display: grid;
  //grid-template-columns: 1fr; // CHANGE THIS TO 0.3fr 1fr to bring back sidebar
  gap: 1rem;
  padding: 0rem;
  height: auto; /* Changed from fixed height to auto */
}


/* Column 1*/
.c_1 {
  display: none; // CHANGE THIS TO BRING BACK SIDEBAR
  position: sticky; /* Change from relative to sticky */
  top: 0rem; /* Sticks when it reaches 2rem from the top of the viewport */
  align-self: start;
  height: fit-content;
  padding: 1rem 0 0 0;
  background-color: $c1-bg;
  .c_1wrapper {
    display: flex;
    flex-direction: column;

    div {
      width: 100%;
      height: 50px;
    }
  }
  

}

@media (max-width: 800px) {
  .c_1 {
    display: none;
  }

  .b_content {
    grid-template-columns: 1fr;
  }
}

// Column 2
.c_2 {
  height: fit-content;
  background-color: $c2-bg;

  .c_2wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin: 1.5rem;
    
  }
  
}


/* Home section */
.c2_home_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;

  #home_text{
    
    p{
      font-size: clamp(12px,36px,50px);
      margin:1rem;
    }
  }
  



  .c2_home_item{
    position: relative;
    width: calc(33.33% - 1rem);
    padding-bottom: calc(33.33% - 1rem);;
    background-color: #f6f6f6;
    flex-grow: 1;
    flex-shrink: 0;

    .c2_home_item_wrapper{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      p{
        font-family: $font;
      }
    }
  }


  .c2_pfp{
    object-fit:cover;
    width: 100%;
    height: 100%;
  }
  #home_text{
    text-align: center;
  }
  /* Home links */
  #c2_links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .c2_link_item{
    text-align: center;
    width: 85%;
    height: 20%;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $c1-bg;
  }
  
  @media (max-width: 1000px) {
    .c2_home_item {
      width: calc(50% - 1rem); // 2 items per row on smaller screens
      padding-bottom: calc(50% - 1rem);
    }
  }
  
  @media (max-width: 480px) {
    .c2_home_item {
      width: calc(100% - 1rem); // 1 item per row on very small screens
      padding-bottom: calc(100% - 1rem);
    }
  }
  
}

.b_header{
  p{
    font-size: $font_size_head2;
    font-family: $font;

    position: relative;
    top:-20px;
    margin-bottom: 2rem;
  }
}





/* PROJECTS */
#projects{
  h1,h2,h3{
    font-size: $font_size_head;
    font-family: $font;
    color: $text_headings;
  }
}

.proj_item{
  color:$text_body;
  font-family: $font;
  font-size: $font_size_body;
  margin:1rem 0rem;

  .proj_link, .proj_link:visited, .proj_link::after{
    color: $text_body;
  }
  .proj_text  {
    display: inline;
  }
}

/* Documentation */
#Docs{
  color: $text_body;
  font-family: $font;
  h1{
    font-size: $font_size_head;
  }
  h2{
    @include h2_header;
    margin-bottom: 0;
  }
  p{
    font-size: $font_size_body;
    margin-top: 0;
  }
  
}

/* Contact */
#contact{
  font-family: $font;
  font-size: $font_size_body;
  color:$text_body;
  .contact_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      
      display: inline;
      white-space: pre;
      margin: 2px 0;
    }
    a, a:visited{
      color: $text_body;
    }
    .contact_title{
      flex: 0 0 100px;
      font-weight: bold;
    }
    .contact_text{
      flex:1;
      text-align: left;
    }

  }

}